{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions", "ie >= 10"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }],
    "transform-runtime"
  ]
}