.loading-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-container .svg {
  width: 100px;
  height: 100px;
}
.loading-container .loading-message {
  position: absolute;
}
.loading-container .cir {
  transform-origin: 50% 50% 0px;
  animation: react-static-loader 1s infinite;
  r: 40;
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 4;
  cx: 50;
  cy: 50;
  stroke-dasharray: 10.4;
  stroke-linecap: round;
  fill: transparent;
}
@keyframes react-static-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
